
@{
    ViewBag.Title = ":: Available PO's ::";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">

    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />

    <!-- Over Hang -->
    @*<link href="~/Scripts/css/overhang.min.css" rel="stylesheet" />*@
<link href="~/Scripts/css/bootstrap-datepicker3.css" rel="stylesheet" />
}

<div class="right_col" role="main">
    <div class="container">
        <form>
            <div class="row invoice-table margin-top margin-bottom">
                <div class=" col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-md-1">Select</th>
                                <th class="col-md-2">PO No</th>
                                <th class="col-md-3">PO Date</th>
                                <th class="col-md-3">Total Item</th>
                                <th class="col-md-3">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-1">
                                    <label><input type="checkbox" value=""></label>
                                </td>
                                <td class="col-md-2">1556</td>
                                <td class="col-md-3">04/21/2017</td>
                                <td class="col-md-3">6</td>
                                <td class="col-md-3">Rs<span>121</span></td>
                            </tr>
                            <tr>
                                <td class="col-md-1">
                                    <label><input type="checkbox" value=""></label>
                                </td>
                                <td class="col-md-2">1557</td>
                                <td class="col-md-3">05/23/2017</td>
                                <td class="col-md-3">10</td>
                                <td class="col-md-3">Rs<span>1100</span></td>
                            </tr>
                            <tr>
                                <td class="col-md-1">
                                    <label><input type="checkbox" value=""></label>
                                </td>
                                <td class="col-md-2">1558</td>
                                <td class="col-md-3">05/30/2017</td>
                                <td class="col-md-3">8</td>
                                <td class="col-md-3">Rs<span>800</span></td>
                            </tr>
                            <tr>
                                <td class="col-md-1">
                                    <label><input type="checkbox" value=""></label>
                                </td>
                                <td class="col-md-2">1559</td>
                                <td class="col-md-3">06/21/2017</td>
                                <td class="col-md-3">7</td>
                                <td class="col-md-3">Rs<span>1200</span></td>
                            </tr>
                            <tr>
                                <td class="col-md-1">
                                    <label><input type="checkbox" value=""></label>
                                </td>
                                <td class="col-md-2">1560</td>
                                <td class="col-md-3">08/21/2017</td>
                                <td class="col-md-3">11</td>
                                <td class="col-md-3">Rs<span>1310</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row margin-bottom">
                <div class="col-xs-12 col-sm-12 col-md-12 invoice-buttons">
                    <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> Generate Delivery Note</button>
                    <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> Generate Invoice</button>
                    <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> Generate Invoice & Delivery Note </button>
                </div>
            </div>
            <div class="row total-border">
                <div class="col-xs-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="row">
                                <div class="form-title col-xs-12 col-md-12">Invoice</div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-xs-12 col-md-3 logo margin-bottom"> <img src="images/logo.jpg" alt="Logo" /> <span class="vendorname">Xsilica Software Solutions</span> </div>
                        <div class="address col-xs-12 col-md-3 margin-bottom">
                            <span>Billing Address</span><br />
                            Fedex Solutions Pvt.Ltd,<br />
                            H.No.8-2-120/112/B/5&6,<br />
                            3rd Floor, BBR Forum,<br />
                            Road No.2, Banjara Hills,<br />
                            Hyderabad-500034.
                        </div>
                        <div class="address col-xs-12 col-md-3 margin-bottom">
                            <span>Shipping Address</span><br />
                            Fedex Solutions Pvt.Ltd,<br />
                            H.No.8-2-120/112/B/5&6,<br />
                            3rd Floor, BBR Forum,<br />
                            Road No.2, Banjara Hills,<br />
                            Hyderabad-500034.
                        </div>
                        <div class="col-xs-12 col-md-3 margin-bottom">
                            <div class="row padding-bottom date"> Date : 05/10/2017 </div>
                            <div class="row invoice-total-amount"> Rs <span>40123</span> </div>
                        </div>
                    </div>
                    <div class="row padding-bottom">
                        <div class="col-xs-12 col-md-7 to-address margin-bottom"> <span>To : Fedex Company</span> </div>
                        <div class="col-xs-12 col-md-5 margin-bottom">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 po-number">Invoice Number</div>
                                <div class="col-xs-12 col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter Invoice">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row po-date">
                        <table class="table table-bordered col-xs-12 col-md-12">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-xs-6 col-md-2">Payment Date</td>
                                    <td class="col-xs-6 col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-addon"> <i class="fa fa-calendar"> </i> </div>
                                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
                                        </div>
                                    </td>
                                    <td class="col-xs-6 col-md-2">Payment Terms</td>
                                    <td class="col-xs-6 col-md-4">
                                        <input type="text" class="form-control" placeholder="" value="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row padding-top invoice">
                        <div class="col-xs-12 col-md-12">
                            <div class="total table-responsive">
                                <table class="table  table-borderedtable-striped bulk_action" id="vendortable">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th class="col-md-2">PO No</th>
                                            <th class="col-md-2">Ptid</th>
                                            <th class="col-md-3">Product Name</th>
                                            <th class="col-md-2">Description</th>
                                            <th class="col-md-1">Quantity</th>
                                            <th class="col-md-1">Price</th>
                                            <th class="col-md-1">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-2">1556</td>
                                            <td class="col-md-2 image">1006 </td>
                                            <td class="col-md-3 product-name"><a href="#">Product Name</a></td>
                                            <td class="col-md-2 product-variation"><span>50 gm</span></td>
                                            <td class="col-md-1 quantity-changes">2</td>
                                            <td class="col-md-1 product-variation">Rs<span>20</span></td>
                                            <td class="col-md-1 product-price">Rs <span>40</span></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">1556</td>
                                            <td class="col-md-2 image">1006 </td>
                                            <td class="col-md-3 product-name"><a href="#">Product Name</a></td>
                                            <td class="col-md-2 product-variation"><span>50 gm</span></td>
                                            <td class="col-md-1 quantity-changes">2</td>
                                            <td class="col-md-1 product-variation">Rs<span>20</span></td>
                                            <td class="col-md-1 product-price">Rs <span>40</span></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">1556</td>
                                            <td class="col-md-2 image">1006 </td>
                                            <td class="col-md-3 product-name"><a href="#">Product Name</a></td>
                                            <td class="col-md-2 product-variation"><span>50 gm</span></td>
                                            <td class="col-md-1 quantity-changes">2</td>
                                            <td class="col-md-1 product-variation">Rs<span>20</span></td>
                                            <td class="col-md-1 product-price">Rs <span>40</span></td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2">1556</td>
                                            <td class="col-md-2 image">1006 </td>
                                            <td class="col-md-3 product-name"><a href="#">Product Name</a></td>
                                            <td class="col-md-2 product-variation"><span>50 gm</span></td>
                                            <td class="col-md-1 quantity-changes">2</td>
                                            <td class="col-md-1 product-variation">Rs<span>20</span></td>
                                            <td class="col-md-1 product-price">Rs <span>40</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top">
                        <div class="col-xs-12 col-md-12 invoice-buttons">
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button>
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> PDF </button>
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-paper-plane" aria-hidden="true"></i> E-Mail </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 to-address margin-top margin-bottom"> <span>Delivery Note</span> </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-xs-12 col-md-3 logo margin-bottom"> <img src="images/logo.jpg" alt="Logo"> <span class="vendorname">Xsilica Software Solutions</span> </div>
                        <div class="address col-xs-12 col-md-3 margin-bottom">
                            <span>Billing Address</span><br>
                            Fedex Solutions Pvt.Ltd,<br>
                            H.No.8-2-120/112/B/5&amp;6,<br>
                            3rd Floor, BBR Forum,<br>
                            Road No.2, Banjara Hills,<br>
                            Hyderabad-500034.
                        </div>
                        <div class="address col-xs-12 col-md-3 margin-bottom">
                            <span>Shipping Address</span><br>
                            Fedex Solutions Pvt.Ltd,<br>
                            H.No.8-2-120/112/B/5&amp;6,<br>
                            3rd Floor, BBR Forum,<br>
                            Road No.2, Banjara Hills,<br>
                            Hyderabad-500034.
                        </div>
                        <div class="col-xs-12 col-md-3 margin-bottom">
                            <div class="row padding-bottom date"> Date : 05/10/2017 </div>
                            <div class="row invoice-total-amount"> Rs <span>40123</span> </div>
                        </div>
                    </div>
                    <div class="row padding-top invoice">
                        <div class="col-xs-12 col-md-12">
                            <div class="total table-responsive">
                                <table class="table  table-borderedtable-striped bulk_action" id="vendortable">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th class="col-xs-3 col-sm-3 col-md-3">Product Name</th>
                                            <th class="col-xs-3 col-sm-3 col-md-2">Description</th>
                                            <th class="col-xs-1 col-sm-1 col-md-2">PO Qty</th>
                                            <th class="col-xs-1 col-sm-1 col-md-1">Deliver Qty</th>
                                            <th class="col-xs-2 col-sm-2 col-md-2">Price</th>
                                            <th class="col-xs-1 col-sm-1 col-md-1">Total</th>
                                            <th class="col-xs-1 col-sm-1 col-md-1">Button</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-xs-3 col-sm-3 col-md-3 product-name"><a href="#">Product Onee</a></td>
                                            <td class="col-xs-3 col-sm-3 col-md-2 product-variation"><span>50 gm</span></td>
                                            <td class="col-xs-1 col-sm-1 col-md-2 quantity-changes">6</td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 delivery-qty">4</td>
                                            <td class="col-xs-2 col-sm-2 col-md-2 product-variation">Rs<span>20</span></td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 product-price">Rs <span>80</span></td>
                                            <td class="col-xs-1 col-sm-1 col-md-1"><button class="btn-default">+</button></td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-3 col-sm-3 col-md-3 product-name"><a href="#">Product Onee</a></td>
                                            <td class="col-xs-3 col-sm-3 col-md-2 product-variation"><span>50 gm</span></td>
                                            <td class="col-xs-1 col-sm-1 col-md-2 quantity-changes">6</td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 delivery-qty">5</td>
                                            <td class="col-xs-2 col-sm-2 col-md-2 product-variation">Rs<span>20</span></td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 product-price">Rs <span>80</span></td>
                                            <td class="col-xs-1 col-sm-1 col-md-1"><button class="btn-default">+</button></td>
                                        </tr>
                                        <tr>
                                            <td class="col-xs-3 col-sm-3 col-md-3 product-name"><a href="#">Product Onee</a></td>
                                            <td class="col-xs-3 col-sm-3 col-md-2 product-variation"><span>50 gm</span></td>
                                            <td class="col-xs-1 col-sm-1 col-md-2 quantity-changes">6</td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 delivery-qty">6</td>
                                            <td class="col-xs-2 col-sm-2 col-md-2 product-variation">Rs<span>20</span></td>
                                            <td class="col-xs-1 col-sm-1 col-md-1 product-price">Rs <span>80</span></td>
                                            <td class="col-xs-1 col-sm-1 col-md-1"><button class="btn-default">+</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 remarks margin-top">
                            <label>Remarks</label>
                            <textarea class="form-control" rows="3" id="comment" placeholder=""></textarea>
                        </div>
                        <div class="col-xs-12 col-md-3 pull-right calculate margin-top">
                            <div class="row sub-total margin-bottom">
                                <div class="col-xs-6 col-md-5">Sub Total<span class="pull-right">:</span></div>
                                <div class="col-xs-6 col-md-7">120.00</div>
                            </div>
                            <div class="row sub-total margin-bottom">
                                <div class="col-xs-6 col-md-5">Vat<span class="pull-right">:</span></div>
                                <div class="col-xs-6 col-md-7">18%</div>
                            </div>
                            <div class="row sub-total margin-bottom">
                                <div class="col-xs-6 col-md-5">Discount<span class="pull-right">:</span></div>
                                <div class="col-xs-6 col-md-7">10%</div>
                            </div>
                            <div class="row sub-total">
                                <div class="col-xs-6 col-md-5">Grand Total<span class="pull-right">:</span></div>
                                <div class="col-xs-6 col-md-7">121.00</div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top">
                        <div class="col-xs-12 col-md-6 margin-top margin-bottom invoice-conditions">
                            <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>Terms and Conditions</a>
                            <ul class="terms-content margin-top">
                                <li>1) Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
                                <li>2) Text has been the industry's standard dummy text ever since</li>
                                <li>3) Enter here is simply dummy text of the printing and typesetting industry</li>
                                <li>4) Here we have industry's standard dummy text ever since</li>
                                <li>5) Dummy content is simply dummy text of the printing and typesetting industry</li>
                                <li>6) Enter content has been the industry's standard dummy text ever since</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top">
                <div class="col-xs-12 col-md-12 invoice-buttons">
                    <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button>
                    <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> PDF </button>
                    <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-paper-plane" aria-hidden="true"></i> E-Mail </button>
                </div>
        </form>
    </div>
</div>

@section scripts{
    <!-- jQuery lib & Tabs -->
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- jQuery lib & Tabs -->
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<!------ Tags With Space and comma ------->*@
    <script src="~/Scripts/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/tag-it.js"></script>
    
<script src="~/Scripts/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {
        var dateformat = $('#dateformat').val().toLowerCase();//replace('DD', 'dd').replace('YYYY', 'yyyy').replace('MM','mm');
        alert(dateformat);
		//<!-------------- Date Picker ----------->
		var date_input=$('input[name="date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: dateformat,
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
		//<!-------------- Date Picker  ----------->
		
	});
	
function add(){
	var len = $("#autoAddQty .table-striped tbody > tr input[placeholder='Quantity in Hand']").length;
	var i = 0, total = 0;
    $("#autoAddQty .table-striped tbody > tr input[placeholder='Quantity in Hand']").each(function(){
		if(i <= len){
			var val =   parseInt($(this).val());
			total += val;
			}
			 i++;
		});
		TotalQty = $("input[placeholder='Total Quantity in Hand']").val(total);
		//alert("TotalQty: " + TotalQty.val());
		return false;
		}
$(document).ready(function(e) {
	return add();
});
$("input[placeholder='Quantity in Hand']").blur(function(e) {
	return add();
});
$("button.qtybutton").click(function(){
		if(TotalNewQty == (TotalQty.val())){
			alert("Processed");
			}else{
				alert("Total Quantity is not Equal's to New Quantity");
				alert("TotalNewQty is : " + TotalNewQty);
				alert("TotalQty is : " + TotalQty.val());}
		});
//<!------ Qty Disturbed to WareHouses  ------->
//	<!-------------- Auto Value assign to Quantity text boxes  ----------->
</script>
    }