@if (ViewBag.records != null)
{
    <div class="row" id="allproducts">
       
            <div class="table-responsive">
                <table class="table  table-borderedtable-striped bulk_action" id="productstable">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="col-md-1">Image</th>
                            <th class="col-md-3">Product Name</th>
                            <th class="col-md-2">Descrption</th>
                            <th class="col-md-1">Quantity</th>
                            <th class="col-md-2">Price</th>
                            <th class="col-md-2">Total</th>
                            <th class="col-md-1">Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.records.Count != 0)
                        {
                            foreach (var item in ViewBag.records)
                            {
                               
                                <tr>
                                    <td class="col-md-1 image">
                                        @if (item.product_images != "" && item.product_images != null && item.product_images != "/images/user.png")
                                        { <img src="data:image;base64,@item.product_images" /> }
                                        else
                                        { <img src="~/images/default_product.png" /> }
                                    </td>
                                    <td class="col-md-3 product-name"><a href="#" title="vamsi">@item.product_name</a></td>
                                    <td class="col-md-2 product-variation">
                                        <select class="form-control">
                                            <option>50 gm</option>
                                            <option>100 gm</option>
                                            <option>500 gm</option>
                                        </select>
                                    </td>
                                    <td class="col-md-1 quantity-changes">
                                        <div class="input-group spinner">
                                            <label>Qty</label>
                                            <input type="text" class="form-control" value="1">
                                            <div class="input-group-btn-vertical">
                                                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-md-2 product-price">Rs <span>20</span></td>
                                    <td class="col-md-2 product-price-total">Rs <span>20</span></td>
                                    <td class="col-md-1 add-to-cart-table">
                                        <button class="btn" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                        <i class="fa fa-times remove" aria-hidden="true"></i>
                                    </td>
                                    <td class="empty"></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6"><p>No Records Available</p></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row" id="productstable1">
            @foreach (var item in ViewBag.records)
            {
                    <div class="col-md-4 col-sm-4 col-xs-12 displayproduct">
                        <div class="well">
                            <i class="fa fa-times remove" aria-hidden="true"></i>
                            <div class="image">
                               
                                @if (item.product_images != "" && item.product_images != null && item.product_images != "/images/user.png")
                                { <img src="data:image;base64,@item.product_images" /> }
                                else
                                { <img src="~/images/default_product.png" /> }
                            </div>
                            <div class="img-title">
                                <span class="product-brand">@item.brand</span>
                                <a href="#" class="product-name">@item.product_name</a>
                            </div>
                            <div class="product-variation">
                                <select class="form-control">
                                    <option>50 gm</option>
                                    <option>100 gm</option>
                                    <option>500 gm</option>
                                </select>
                            </div>
                            <div class="empty"></div>
                            <div class="rate-add">
                                <div class="product-price">
                                    Rs <span>20</span>
                                </div>
                                <div class="product-price-total">
                                    <p>Total</p> Rs <span>20</span>
                                </div>
                                <div class="shipping">
                                    <i class="fa fa-truck fa-lg" aria-hidden="true"></i>
                                    Standard Delivery
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="input-group spinner">
                                            <label>Qty</label>
                                            <input type="text" class="form-control" value="1">
                                            <div class="input-group-btn-vertical">
                                                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 add-to-cart">
                                        <button class="btn btn-primary" type="button">Add <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            }
            </div>
        </div>
        @*<label>norecords available</label>*@
}
<script>
    $(document).ready(function (e) {
        var tableprice, divprice, tabletotal, divtotal;
        $('.spinner .btn:first-of-type').click(function () {
            var plus, v;
            v = parseInt($(this).parent("div").prev("input[type='text']").val());
            
            if (v > 0) {
                plus = v + 1;
                $(this).parent("div").prev("input[type='text']").val(plus);
                tableprice = parseInt($(this).parents(".quantity-changes").nextAll(".product-price").children("span").text());
                divprice = parseInt($(this).parents(".rate-add").children(".product-price").children("span").text());
                tabletotal = plus * tableprice;
                divtotal = plus * divprice; $(this).parents(".quantity-changes").nextAll(".product-price-total").children("span").remove();
                $(this).parents(".quantity-changes").nextAll(".product-price-total").append("<span>" + tabletotal + "</span>");
                $(this).parents(".rate-add").children(".product-price-total").children("span").remove();
                $(this).parents(".rate-add").children(".product-price-total").append("<span>" + divtotal + "</span>");
            }
            return vals();
        });
        $('.spinner .btn:last-of-type').click(function () {
            var minus, v;
            v = parseInt($(this).parent("div").prev("input[type='text']").val());
           
            if (v > 1) {
                minus = v - 1;
                $(this).parent("div").prev("input[type='text']").val(minus);
                tableprice = parseInt($(this).parents(".quantity-changes").nextAll(".product-price").children("span").text());;
                divprice = parseInt($(this).parents(".rate-add").children(".product-price").children("span").text());
                tabletotal = minus * tableprice;
                divtotal = minus * divprice; $(this).parents(".quantity-changes").nextAll(".product-price-total").children("span").remove();
                $(this).parents(".quantity-changes").nextAll(".product-price-total").append("<span>" + tabletotal + "</span>");
                $(this).parents(".rate-add").children(".product-price-total").children("span").remove();
                $(this).parents(".rate-add").children(".product-price-total").append("<span>" + divtotal + "</span>");
            }
            return vals();
        });
    });

    $(".add-to-cart > .btn").click(function () {
        var v = $(this).parents(".rate-add").prevAll("div.product-variation").children("select").children("option:selected").val();
        var txt = $(this).parents(".rate-add").prev("div.empty");
        $(txt).empty().append("<p>" + v + "<p>");
        $(this).parents(".well").clone(true, true).appendTo(".added-products");
        $(".added-products").css("padding", "0px 0px 10px");
    });
    $(".add-to-cart-table > .btn").click(function () {
        var v = $(this).parent("td.add-to-cart-table").prevAll("td.product-variation").children("select").children("option:selected").val();
        var txt = $(this).parent("td.add-to-cart-table").next("td.empty");
        $(txt).empty().append("<p>" + v + "</p>");
        $(this).parents("tr").clone(true, true).appendTo(".added-products");
        $(".added-products").css("padding", "0px 0px 10px");
    });

    function vals() {
        var total, totalquantity = 0, productprice, carttotal = 0;
        $(".added-products .spinner input[type='text']").each(function () {
            total = parseInt($(this).val());
            totalquantity = total + totalquantity;
        });
        $(".added-products .product-price-total span").each(function () {
            productprice = parseInt($(this).text());
            carttotal = productprice + carttotal;
        });
        $(".cart-total span").remove();
        $(".cart-total").append("<span>" + carttotal + "</span>");
        $(".cart-icn span").remove();
        $(".cart-icn").append("<span>" + totalquantity + "</span>");

    }

    $(".add-to-cart-table > .btn, .add-to-cart > .btn").click(function () {
        return vals();
    });

    $(".remove").click(function () {
        $(this).parents("div.well,tr").remove();
        return vals();
    });
</script>