
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <!-- Over Hang -->
    @*<link href="~/Scripts/css/overhang.min.css" rel="stylesheet" />*@
    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />
}
@*<div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="container">
                    <form>
                        <input type="hidden" id="meas" value="" />
                        <div class="row">
                            <div class="form-title col-xs-6 col-md-6">Shop Products</div>
                            <div class="form-title col-xs-2 col-md-3">@Request.QueryString["cname"]</div>
                            <div class="top-bar col-xs-12 col-md-3">
                                <div class="icons pull-right">
                                    <i class="fa fa-list-ol fa-lg" aria-hidden="true" id="list-view"></i>
                                    <i class="fa fa-th fa-lg" aria-hidden="true" id="grid-view"></i>
                                    <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
                                    <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row blocks">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="content">
                                    <h2>Estimate</h2>
                                    <p><text class="localization"></text>10000</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="content">
                                    <h2>Unbilled Activity</h2>
                                    <p><text class="localization"></text>10000</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="content">
                                    <h2>Open Invoice</h2>
                                    <p><text class="localization"></text>10000</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="content">
                                    <h2>Over Due</h2>
                                    <p><text class="localization"></text>10000</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-2">
                                @{ Html.RenderAction("AllCategories", "Products");}
                            </div>
                            <div class="col-xs-12 col-md-7">
                                @{ Html.RenderAction("allproducts", "Products");}
                            </div>
                            @{ Html.RenderAction("Addtocartpartial", "Products");}
                        </div>
                    </form>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>*@



<div class="container body">
    <div class="main_container">
        <!-- top navigation -->
        <!-- top navigation -->
        <!-- page content -->
        <div class="container-fluid padding-left-0 padding-right-0 padding-top-10 padding-bottom-10 top-strip fixed">
            <div class="row">
                <div class="form-title col-xs-12 col-md-8">Shop Products</div>
                <div class="top-bar col-xs-12 col-md-4">
                    @*<button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Product </button>*@
                    <div class="icons pull-right">
                        <div class="cart-icn">
                            <span class="cart-total-items">0</span>
                            <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                            <i class="fa fa-inr" aria-hidden="true"></i>
                            @*<div class="localization"></div>*@
                            <span class="cart-total">000</span>
                            <span></span>
                        </div>
                        <i class="fa fa-list-ol fa-lg" aria-hidden="true" id="list-view"></i>
                        <i class="fa fa-th fa-lg" aria-hidden="true" id="grid-view"></i>
                        <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
                        <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_col" role="main" style="min-height:500px;">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-xs-12 col-md-2 padding-left-0 padding-right-0 categories">
                            @{ Html.RenderAction("AllCategories", "Products");}
                        </div>
                        <div class="col-xs-12 col-md-10  padding-left-0 padding-right-0 products">
                            @{ Html.RenderAction("allproducts", "Products");}
                        </div>
                    </div>
                    <div class="row">
                        <div class="right-side-bar">
                            <div class="row checkout" id="cartrecords">
                                @{ Html.RenderAction("Addtocartpartial", "Products");}
                                </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /page content -->

    </div>
    <div class="row mobile-cart">
        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
    </div>
</div>

@section scripts{
    <!-- jQuery lib & Tabs -->
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <script src="~/Scripts/js/main.js"></script>

    <!-- jQuery lib & Tabs -->
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    @*Over Hang*@
    <script src="~/Scripts/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/overhang.min.js"></script>
    @Scripts.Render("~/bundles/ShopProduct")
    <script type="text/javascript">
        //<!------------ List / Grid Views and reload page -------------->
        $("#grid-view").click(function (e) {
            $("#productstable").css("display", "none");
            $("#productstable1").css("display", "block");
        });

        //  $("#list-view").click(function(e) {
        //    $("#productstable").css("display","block");
        //	$("#productstable1").css("display","none");
        //	//location.reload();
        //});

        $("#refresh").click(function (e) {
            location.reload();
        });
        //<!------------ List / Grid Views and reload page -------------->

        //<!------------ Quantity changes / Prices Multiple -------------->
        $(document).ready(function (e) {
            var tableprice, divprice, tabletotal, divtotal, divpriceright;
            $('.spinner > .input-group .btn:first-of-type').click(function () {
                var minus, v;
                v = parseInt($(this).next("input[type='text']").val());
                if (v > 1) {
                    minus = v - 1;
                    $(this).next("input[type='text']").val(minus);
                    //tableprice = parseInt($(this).parents(".quantity-changes").nextAll(".product-price").children("span").text());;
                    divprice = parseInt($(this).parents(".spinner").parent("div").prev("div").children(".product-price").children("span").text());
                    divpriceright = parseInt($(this).parents(".spinner").next(".product-price").children("span").text());
                    //tabletotal = minus * tableprice;
                    divtotal = minus * divprice;
                    divtotalright = minus * divpriceright;
                    //$(this).parents(".quantity-changes").nextAll(".product-price-total").children("span").remove();
                    //$(this).parents(".quantity-changes").nextAll(".product-price-total").append("<span>" + tabletotal + "</span>");
                    //$(this).parents(".rate-add").children(".product-price-total").children("span").remove();
                    $(this).parents(".rate-add").prev(".product-price-total").children("span").empty().append(divtotal);
                    $(this).parents(".spinner").nextAll(".product-price-total").children("span").empty().append(divtotalright);
                }
                return vals();
            });
            $('.spinner > .input-group .btn:last-of-type').click(function () {
                //alert("plus");
                var plus, v;
                v = parseInt($(this).prev("input[type='text']").val());
                if (v > 0) {
                    plus = v + 1;
                    $(this).prev("input[type='text']").val(plus);
                    //tableprice = parseInt($(this).parents(".quantity-changes").nextAll(".product-price").children("span").text());
                    divprice = parseInt($(this).parents(".spinner").parent("div").prev("div").children(".product-price").children("span").text());
                    divpriceright = parseInt($(this).parents(".spinner").next(".product-price").children("span").text());
                    // alert(divprice);
                    //tabletotal = plus * tableprice;
                    divtotal = plus * divprice;
                    divtotalright = plus * divpriceright;
                    // $(this).parents(".quantity-changes").nextAll(".product-price-total").children("span").remove();
                    //$(this).parents(".quantity-changes").nextAll(".product-price-total").append("<span>" + tabletotal + "</span>");
                    //$(this).parents(".rate-add").children(".product-price-total").children("span").remove();
                    $(this).parents(".rate-add").prev(".product-price-total").children("span").empty().append(divtotal);
                    $(this).parents(".spinner").nextAll(".product-price-total").children("span").empty().append(divtotalright);
                }
                return vals();
            });
        });

        //<!------------ Quantity changes / Prices Multiple -------------->

        //<!---------- Strip Qty / Total Prices(on Load time) ---------------------->
        function cartstrip() {
            var qty = $(".check-title > span").text();
            var pototal = $(".generate-po-strip > p > span").text();
            $(".cart-icn").children("span.cart-total-items").empty().append(qty);
            $(".cart-icn").children("span.cart-total").empty().append(pototal);
        }
        $(document).ready(function (e) {
            return cartstrip();
        });
        //<!---------- Strip Qty / Total Prices(on Load time) ---------------------->

        //<!------------ Product units / prices selection -------------->

        $(".product-variation > ul > li")
        //    .each(function () {
        //    var whqty = $(this).find(".rate-add").children("div.warehouse").children("p").children("text").html();
        //        //var whqty = $(this).find(".rate-add").children("div:last-of-type").find("span").html();
        //    alert(whqty);
        //    if (whqty == 0 || whqty == '') {
        //        alert("out of stock");
        //        //$(this).find("div.label").css('display','block');
        //        //$(this).find("div.well").children("div.rate-add").children("div.row").children("div.add-to-cart").children("button").prop('disabled',true);
        //    }
        //})
            .click(function () {
                var txt = $(this).text();
                var qtynum = txt.split(" ")[0];
                var qtyunits = txt.split(" ")[1];
                var price = txt.split("-")[1].replace(/[^0-9\.]/g, "");
                $(this).parents(".product-variation").find("#variantselection").val(txt);
                $(this).parents(".product-variation").prev(".product-price").children("span").empty();
                $(this).parents(".product-variation").children("span").children("b").empty();
                $(this).parents(".product-variation").children("span").children("var").empty();
                $(this).parents(".product-variation").prev(".product-price").children("span").append(price);
                $(this).parents(".product-variation").children("span").children("b").append(qtynum);
                $(this).parents(".product-variation").children("span").children("var").append(qtyunits);

                var image = $(this).parents(".rate-add").prevAll(".image").children("img").attr("src", '');
                var pqty = $(this).parents(".rate-add").prevAll(".image").children("input#pqty");
                var productid = $(this).next("li").html().replace('}', ' ');
                var whqty = $(this).parents(".rate-add").children("div:last-of-type").children("div").children("span");
                //alert(whqty);
                $.ajax({
                    url: "products/allImagesonPid?product_id=" + productid + "", success: function (result) {
                        //pqty.val(result.qty); whqty.empty().html(result.qty); //$('#availableqty').html(result.qty);
                        whqty.empty().html(result.qty);
                        if (result.qty == '') { whqty.empty().html(0); }
                        if (result.images != '') {
                            image.attr("src", '/ProductImages/' + result.images).attr("alt", result.images);
                        }
                        else {
                            image.attr("src", '/images/default_product.png');
                        }
                    }
                });
            });
        //<!------------ Product units / prices selection -------------->

        //<!----------- Quantity Add in Right Bar ---------------->
         $(".add-to-cart").click(function () {
        //$(document).on("click",".add-to-cart", function(){
            var mesurment = $(this).parents(".rate-add").children(".margin-bottom-20").children(".product-variation").find("#variantselection").val().split('-')[0];
            var qty = $(this).parents(".rate-add").children("div:first-of-type").next("div").find(".spinner").children("div").find(".quantity").val();
            var productname = $(this).parents(".rate-add").prevAll("div.img-title").children("a").text();
            var costprice = $(this).parents(".rate-add").children("div:first-of-type").children(".product-price").children("span").html();
            var total = parseInt(costprice) * parseInt(qty);
            var cid = location.search.split('?')[1].split('&&')[0].split('cid=')[1];
            var productid = $(this).parents(".rate-add").prevAll("div.image").children("input").val();
            var img = ($(this).parents(".rate-add").prevAll("div.image").children("img").attr('src')).split('/')[2];
            $.ajax({
                url: '/Products/Addtocart',
                type: 'POST',
                data: JSON.stringify({ cid: cid, product_name: productname, Quantity: qty, Measurement: mesurment, cost_price: costprice, total_price: total, product_images: img, product_id: productid }),
                dataType: 'json',
                contentType: 'application/json',
                
                success: function (data) {
                    if (data == "unique") {
                        errormsg("Not Inserted");
                    }
                    else if (data == "exists") {
                        existsmsg("The product Already available in the cart.Please Increase quantity if needed.");
                    }
                    else if (data == "qty") {
                        warnmsg("InValid Quantity");
                    }

                    else if (data == "qtyexcess") {
                        warnmsg("This much quantity not available");
                    }
                    else {
                        //successmsg("Successfully Added To Cart.");
                        alert("Successfully Added To Cart.");
                        var url = 'Products/Addtocartpartial?cid=' + cid;
                        $('#cartrecords').empty().load(url);
                    }
                },
                error: function (data)
                { errormsg("Failed!!!"); }
            });
             return vals();
        });
        $(".product-variation > ul > li").click(function () {
            var productprice = $(this).parents(".product-variation").prev(".product-price").children("span").text();
            $(this).parents(".rate-add").prev(".product-price-total").children("span").empty();
            $(this).parents(".rate-add").prev(".product-price-total").children("span").append(productprice);
        });

        $(".add-to-cart-table > .btn").click(function () {
            var v = $(this).parent("td.add-to-cart-table").prevAll("td.product-variation").children("select").children("option:selected").val().split(" ")[0];
            var txt = $(this).parent("td.add-to-cart-table").next("td.empty");
            $(txt).empty().append("<p>" + v + "</p>");
            $(this).parents("tr").clone(true, true).appendTo(".added-products");
            $(".added-products").css("padding", "0px 0px 10px");
        });

        function vals() {
            var total, totalquantity = 0, productprice, carttotal = 0;
            $(".added-products .spinner input[type='text']").each(function () {
                total = parseInt($(this).val());
                totalquantity = total + totalquantity;
            });
            $(".added-products .product-price-total span").each(function () {
                productprice = parseInt($(this).text());
                carttotal = productprice + carttotal;
            });
            //$("span#carttotal").empty().html(carttotal);
            //$(".check-title > span").empty().html(totalquantity);
            //$("span.cart-total-items").empty().html(totalquantity);
        }
        $(".remove").click(function () {
            return vals();
            return cartstrip();
        });
        $(document).on('click', '.check-title > i.fa-times', function () {
            $(".checkout").css({ "right": "-350px", "transition": "1s ease", "-webkit-transition": "1s ease" });
            $(".right-side-bar").css({ "width": "0%", "background": "rgba(0,0,0,.6)" });
        });
        $(".cart-icn").click(function () {
            $(".checkout").css({ "right": "0", "transition": "1s ease", "-webkit-transition": "1s ease" });
            $(".right-side-bar").css({ "width": "100%", "background": "rgba(0,0,0,.6)" });
        });
        //<!----------- Quantity Add in Right Bar ---------------->

        //<!------------ Left Side Bar ------------------->
        $("#sidebar li.leve12, #sidebar li").click(function () {
            $(this).children("a").css("font-weight", "700");
            $(this).children("ul.left-submenu").toggle("slow");
            $(this).nextAll("li").children("a").css("font-weight", "normal");
            $(this).prevAll("li").children("a").css("font-weight", "normal");
            $(this).nextAll("li").children("ul.left-submenu").css("display", "none");
            $(this).prevAll("li").children("ul.left-submenu").css("display", "none");
        });
        $("#sidebar li.leve12 ul.left-submenu li").click(function () {
            $(this).parent("ul.left-submenu").css("display", "block");
            $(this).children("a").css("color", "#0288d1");
            return false;
        });
        //<!------------ Left Side Bar ------------------->


        //<!---------- Product Variation ------------>
        $(".product-variation").click(function () {
            $(this).children("ul").toggle();
        });
        //<!---------- Product Variation ------------>

        

        //<!---------- mobile cart ------------>
        $(".mobile-cart").click(function () {
            $(this).toggleClass(" rotate");
            if ($(this).hasClass("rotate")) {
                $(".checkout").css({ "opacity": "1", "top": "20%", "right": "40px", "z-index": "2" });
                $(this).children("i.fa-shopping-cart").css("display", "none");
                $(this).children("i.fa-times").css("display", "block");
            } else {
                $(".checkout").css({ "opacity": "0", "z-index": "-99" });
                $(this).children("i.fa-shopping-cart").css("display", "block");
                $(this).children("i.fa-times").css("display", "none");
            }
            // $(".checkout").parent("div").css("position","fixed");
        });
        //!---------- mobile cart ------------>
    </script>
}

