
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <!-- Over Hang -->
    <link href="~/Scripts/css/overhang.min.css" rel="stylesheet" />
    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />
}

<div class="container body">
    <div class="main_container">
        <!-- top navigation -->
        <!-- top navigation -->
        <!-- page content -->
        <div class="container-fluid padding-left-0 padding-right-0 padding-top-10 padding-bottom-10 top-strip fixed">
            <div class="row">
                <div class="form-title col-xs-12 col-md-8">Shop Products</div>
                <div class="top-bar col-xs-12 col-md-4">
                    @*<button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Product </button>*@
                    <div class="icons pull-right">
                        <div class="cart-icn">
                            <span class="cart-total-items">0</span>
                            <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                            @*<i class="fa fa-inr" aria-hidden="true"></i>*@
                            <div class="localization"></div>
                            <span class="cart-total">000</span>
                            <span></span>
                        </div>
                        <i class="fa fa-list-ol fa-lg" aria-hidden="true" id="list-view"></i>
                        <i class="fa fa-th fa-lg" aria-hidden="true" id="grid-view"></i>
                        <i class="fa fa-refresh fa-lg" aria-hidden="true" id="refresh"></i>
                        <i class="fa fa-cog fa-lg" aria-hidden="true" id="settings"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_col" role="main" style="min-height:500px;">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-xs-12 col-md-2 padding-left-0 padding-right-0 categories">
                            @{ Html.RenderAction("AllCategories", "Products");}
                        </div>
                        <div class="col-xs-12 col-md-10  padding-left-0 padding-right-0 products">
                            @{ Html.RenderAction("allproducts", "Products");}
                        </div>
                    </div>
                    <div class="row">
                        <div class="right-side-bar">
                            <div class="row checkout" id="cartrecords">
                                @{ Html.RenderAction("Addtocartpartial", "Products");}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /page content -->

    </div>
    <div class="row mobile-cart">
        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
    </div>
</div>

@section scripts{
    <!-- jQuery lib & Tabs -->
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <script src="~/Scripts/js/main.js"></script>

    <!-- jQuery lib & Tabs -->
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    @*Over Hang*@
    <script src="~/Scripts/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/overhang.min.js"></script>
    @Scripts.Render("~/bundles/ShopProduct")
    <script type="text/javascript">
        //<!------------ List / Grid Views and reload page -------------->
        $("#grid-view").click(function (e) {
            $("#productstable").css("display", "none");
            $("#productstable1").css("display", "block");
        });

        //  $("#list-view").click(function(e) {
        //    $("#productstable").css("display","block");
        //	$("#productstable1").css("display","none");
        //	//location.reload();
        //});

        $("#refresh").click(function (e) {
            location.reload();
        });
        //<!------------ List / Grid Views and reload page -------------->

        //<!------------ Quantity changes / Prices Multiple -------------->
        $(document).ready(function (e) {
            var tableprice, divprice, tabletotal, divtotal, divpriceright, whqty;
            $(document).on('click', '.productsection > .spinner > .input-group .btn:first-of-type', function () {
                var minus, v;
                v = parseInt($(this).next("input[type='text']").val());
                if (v > 1) {
                    minus = v - 1;
                    $(this).next("input[type='text']").val(minus);
                    //tableprice = parseInt($(this).parents(".quantity-changes").nextAll(".product-price").children("span").text());;
                    divprice = parseFloat($(this).parents(".spinner").parent("div").prev("div").children(".product-price").children("span").text());
                    divpriceright = parseFloat($(this).parents(".spinner").next(".product-price").children("span").text());
                    whqty = $(this).parents("div.rate-add").find("div.warehouse").children("div").children("span").html();
                    //tabletotal = minus * tableprice;
                    divtotal = minus * divprice;
                    divtotalright = minus * divpriceright;
                    //$(this).parents(".quantity-changes").nextAll(".product-price-total").children("span").remove();
                    //$(this).parents(".quantity-changes").nextAll(".product-price-total").append("<span>" + tabletotal + "</span>");
                    //$(this).parents(".rate-add").children(".product-price-total").children("span").remove();
                    $(this).parents(".rate-add").prev(".product-price-total").children("span").empty().append(divtotal);
                    $(this).parents(".spinner").nextAll(".product-price-total").children("span").empty().append(divtotalright);

                    if (plus > parseInt(whqty)) {
                        errormsg("Quantity Exceeded!!!Availability Qty is " + whqty + "");
                        $('#availableqty').empty().html(v);
                        $(this).prev("input[type='text']").val("1");
                        $(this).prev("input[type='text']").select();
                    }
                }
                return vals();
            });
            $(document).on('click', '.productsection > .spinner > .input-group .btn:last-of-type', function () {
                //alert("plus");
                var plus, v;
                v = parseInt($(this).prev("input[type='text']").val());
                if (v > 0) {
                    plus = v + 1;
                    $(this).prev("input[type='text']").val(plus);
                    //tableprice = parseInt($(this).parents(".quantity-changes").nextAll(".product-price").children("span").text());
                    divprice = parseFloat($(this).parents(".spinner").parent("div").prev("div").children(".product-price").children("span").text());
                    divpriceright = parseFloat($(this).parents(".spinner").next(".product-price").children("span").text());
                    whqty = $(this).parents("div.rate-add").find("div.warehouse").children("div").children("span").html();
                    // alert(divprice);
                    //tabletotal = plus * tableprice;
                    divtotal = plus * divprice;
                    divtotalright = plus * divpriceright;
                    // $(this).parents(".quantity-changes").nextAll(".product-price-total").children("span").remove();
                    //$(this).parents(".quantity-changes").nextAll(".product-price-total").append("<span>" + tabletotal + "</span>");
                    //$(this).parents(".rate-add").children(".product-price-total").children("span").remove();
                    $(this).parents(".rate-add").prev(".product-price-total").children("span").empty().append(divtotal);
                    $(this).parents(".spinner").nextAll(".product-price-total").children("span").empty().append(divtotalright);

                    if (plus > parseInt(whqty)) {
                        errormsg("Quantity Exceeded!!!Availability Qty is " + whqty + "");
                        $('#availableqty').empty().html(v);
                        $(this).prev("input[type='text']").val("1");
                        $(this).prev("input[type='text']").select();
                    }
                }
                return vals();
            });

            $(document).on('click', '.decrease', function () {
                var minus, v;
                v = parseInt($(this).next("input[type='text']").val());
                if (v > 1) {
                    minus = v - 1;
                    $(this).next("input[type='text']").val(minus);
                    divprice = parseFloat($(this).parents(".spinner").parent("div").prev("div").children(".product-price").children("span").text());
                    divpriceright = parseFloat($(this).parents(".spinner").next(".product-price").children("span").text());
                    divtotal = minus * divprice;
                    divtotalright = minus * divpriceright;
                    $(this).parents(".rate-add").prev(".product-price-total").children("span").empty().append(divtotal);
                    $(this).parents(".spinner").nextAll(".product-price-total").children("span").empty().append(divtotalright);
                    var cartid = $(this).parents('.spinner').prevAll("input.cartid").val();
                    var inputqty = minus;
                    var newamunt = divtotalright;
                    var cid = location.search.split('cid=')[1];
                    //updatecart1(cartid, inputqty, newamunt);
                    $.ajax({
                        url: '/Products/UpdateCart',
                        type: 'POST',
                        data: JSON.stringify({ cart_id: cartid, Quantity: inputqty, total_price: newamunt }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "unique") {
                                errormsg("Not Inserted");
                            }
                            else {
                                successmsg("Successfully Updated Cart.");
                                var url = 'Products/Addtocartpartial?cid=' + cid;
                                $('#cartrecords').load(url);
                            }
                        },
                        error: function (data)
                        { errormsg("Failed!!!"); }
                    });
                }
                return vals();
            });
            $(document).on('click', '.increase', function () {
                //alert("plus");
                var plus, v;
                v = parseInt($(this).prev("input[type='text']").val());
                whqty = parseInt($(this).parents("div.added-products").find("input.whqty").val());
                if (v > 0 && v < whqty) {
                    plus = v + 1;
                    $(this).prev("input[type='text']").val(plus);
                    divprice = parseFloat($(this).parents(".spinner").parent("div").prev("div").children(".product-price").children("span").text());
                    divpriceright = parseFloat($(this).parents(".spinner").next(".product-price").children("span").text());
                    divtotal = plus * divprice;
                    divtotalright = plus * divpriceright;
                    $(this).parents(".rate-add").prev(".product-price-total").children("span").empty().append(divtotal);
                    $(this).parents(".spinner").nextAll(".product-price-total").children("span").empty().append(divtotalright);
                    var cartid = $(this).parents('.spinner').prevAll("input.cartid").val();
                    var inputqty = plus;
                    var newamunt = divtotalright;
                    var cid = location.search.split('cid=')[1];
                    //whqty = $(this).parents("div.added-products").find("input.whqty").val();

                    //updatecart(cartid, inputqty, newamunt);
                    $.ajax({
                        url: '/Products/UpdateCart',
                        type: 'POST',
                        data: JSON.stringify({ cart_id: cartid, Quantity: inputqty, total_price: newamunt }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "unique") {
                                errormsg("Not Inserted");
                            }
                            else {
                                if (parseInt(plus) > parseInt(whqty)) {
                                    warnmsg("Quantity Exceeded!!!Availability Qty is " + whqty + "");
                                    $(this).css('opacity', '0.5');
                                    //$(this).parents(".input-group").find("input.increase").prop('readonly', 'true');
                                }
                                else {
                                    successmsg("Successfully Updated Cart.");
                                    //$(this).parents(".input-group").find("input.increase").prop('readonly', 'false');
                                }
                                var url = 'Products/Addtocartpartial?cid=' + cid;
                                $('#cartrecords').load(url);
                            }
                        },
                        error: function (data)
                        { errormsg("Failed!!!"); }
                    });

                }
                else {
                    warnmsg("Quantity Exceeded!!!Availability Qty is " + whqty + "");
                }
                //return vals();
            });
        });

        //<!------------ Quantity changes / Prices Multiple -------------->

        //<!---------- Strip Qty / Total Prices(on Load time) ---------------------->
        function cartstrip() {
            var qty = $(".check-title > span").text();
            var pototal = $(".generate-po-strip > p > span").text();
            $(".cart-icn").children("span.cart-total-items").empty().append(qty);
            $(".cart-icn").children("span.cart-total").empty().append(pototal);
        }

        $(document).ready(function (e) {
            return cartstrip();
        });
        //<!---------- Strip Qty / Total Prices(on Load time) ---------------------->

        //<!------------ Product units / prices selection -------------->

        //$(document).on('load','.displayproduct', function (){

        $('.displayproduct').each(function () {
            var whqty = $(this).find(".rate-add").children("div.warehouse").children("div").children("span").html();
            var pqty = $(this).find(".rate-add").prevAll(".image").children("input#pqty");
            pqty.val(whqty);
            if (whqty == 0 || whqty == '') {
                //alert("out of stock");
                pqty.val(0);
                $(this).find("div.label").css('display', 'block');
                $(this).find(".rate-add").children("div.warehouse").children("div").children("span").html(0);
                $(this).find("div.well").children("div.rate-add").children("div.row").children("div.add-to-cart").children("button").prop('disabled', true);
            }
        });

        $(document).on('click', '.product-variation > ul > li', function () {
            //$(".product-variation > ul > li").click(function () {
            var txt = $(this).text();
            var qtynum = txt.split(" ")[0];
            var qtyunits = txt.split(" ")[1];
            var price = txt.split("-")[1].replace(/[^0-9\.]/g, "");
            $(this).parents(".product-variation").find("#variantselection").val(txt);
            $(this).parents(".product-variation").prev(".product-price").children("span").empty();
            $(this).parents(".product-variation").children("span").children("b").empty();
            $(this).parents(".product-variation").children("span").children("var").empty();
            $(this).parents(".product-variation").prev(".product-price").children("span").append(price);
            $(this).parents(".product-variation").children("span").children("b").append(qtynum);
            $(this).parents(".product-variation").children("span").children("var").append(qtyunits);

            var image = $(this).parents(".rate-add").prevAll(".image").children("img").attr("src", '');
            var pqty = $(this).parents(".rate-add").prevAll(".image").children("input#pqty");
            var productid = $(this).next("li").html().replace('}', ' ');
            var whqty = $(this).parents(".rate-add").children("div:last-of-type").children("div").children("span");
            var outofstock = $(this).parents(".well").prev(".label").css('display', '');
            var cartbtn = $(this).parents("div.rate-add").find(".productsection").children("div.add-to-cart").children("button");
            var discount = $(this).parents(".well").prevAll(".discount").children("span");
            var producttype = $(this).parents(".well").prevAll(".icon").children("img").attr("src", '');
            //alert($(this).parents(".well").prev(".label").html());
            $(this).parents(".rate-add").prevAll("div.image").children("input").val(productid);
            //alert(whqty);
            $.ajax({
                url: "products/allImagesonPid?product_id=" + productid + "", success: function (result) {
                    pqty.val(result.qty); whqty.empty().html(result.qty); //$('#availableqty').html(result.qty);
                    whqty.empty().html(result.qty);
                    if (result.discount == 0)
                        discount.empty();
                    else
                        discount.empty().html(result.discount + ' % off');
                    if (result.product_type == 'Non-Veg')
                        producttype.attr("src", '/images/nonvegicon.png').attr("alt", "nonvegicon.png");
                    else
                        producttype.attr("src", '/images/vegicon.png').attr("alt", "vegicon.png");
                    if (result.qty == '') { whqty.empty().html(0); }
                    if (result.qty == 0) { outofstock.css('display', 'block'); cartbtn.prop('disabled', true) }
                    else { outofstock.css('display', 'none'); cartbtn.prop('disabled', false); }
                    if (result.images != '') {
                        image.attr("src", '/ProductImages/' + result.images).attr("alt", result.images);
                    }
                    else {
                        image.attr("src", '/images/default_product.png');
                    }
                }
            });
            if (pqty == '0') {

            }
        });
        //<!------------ Product units / prices selection -------------->

        //<!----------- Quantity Add in Right Bar ---------------->
        $(document).on('click', '.add-to-cart', function () {
            // $(".add-to-cart").click(function () {
            //$(document).on("click",".add-to-cart", function(){
            var mesurment = $(this).parents(".rate-add").children(".margin-bottom-20").children(".product-variation").find("#variantselection").val().split('-')[0];
            var qty = $(this).parents(".rate-add").children("div:first-of-type").next("div").find(".spinner").children("div").find(".quantity").val();
            var productname = $(this).parents(".rate-add").prevAll("div.img-title").children("a").text();
            var costprice = $(this).parents(".rate-add").children("div:first-of-type").children(".product-price").children("span").html();
            var total = parseFloat(costprice) * parseFloat(qty);//parseInt(costprice) * parseInt(qty);
            var cid = location.search.split('?')[1].split('&&')[0].split('cid=')[1];
            var productid = $(this).parents(".rate-add").prevAll("div.image").children("input").val();
            var img = ($(this).parents(".rate-add").prevAll("div.image").children("img").attr('src')).split('/')[2];
            var cartbtn = $(this);
            cartbtn.prop('readonly', 'true');
            //alert(productid);
            $.ajax({
                url: '/Products/Addtocart',
                type: 'POST',
                data: JSON.stringify({ cid: cid, product_name: productname, Quantity: qty, Measurement: mesurment, cost_price: costprice, total_price: total, product_images: img, product_id: productid }),
                dataType: 'json',
                contentType: 'application/json',

                success: function (data) {
                    if (data == "unique") {
                        errormsg("Not Inserted");
                    }
                    else if (data == "exists") {
                        //existsmsg("The product Already available in the cart.Please Increase quantity if needed.");
                        existsmsg("Product Exists in Cart Increase Quantity in Cart");
                    }
                    else if (data == "qty") {
                        warnmsg("InValid Quantity");
                    }

                    else if (data == "qtyexcess") {
                        warnmsg("This much quantity not available");
                    }
                    else {
                        successmsg("Successfully Added " + productname + " with Quantity " + qty + " To Cart.");
                        // alert("Successfully Added To Cart.");
                        var url = 'Products/Addtocartpartial?cid=' + cid;
                        $('#cartrecords').empty().load(url);
                        cartbtn.prop('readonly', 'false');
                    }
                },
                error: function (data)
                { errormsg("Failed!!!"); }
            });
            return vals();
        });

        //$(document).on('click', '.product-variation > ul > li', function () {
        //    var productprice = $(this).parents(".product-variation").prev(".product-price").children("span").text();
        //    $(this).parents(".rate-add").prev(".product-price-total").children("span").empty();
        //    $(this).parents(".rate-add").prev(".product-price-total").children("span").append(productprice);
        //});

        $(document).on('click', '.add-to-cart-table > .btn', function () {
            var v = $(this).parent("td.add-to-cart-table").prevAll("td.product-variation").children("select").children("option:selected").val().split(" ")[0];
            var txt = $(this).parent("td.add-to-cart-table").next("td.empty");
            $(txt).empty().append("<p>" + v + "</p>");
            $(this).parents("tr").clone(true, true).appendTo(".added-products");
            $(".added-products").css("padding", "0px 0px 10px");
        });

        function vals() {
            var total, totalquantity = 0, productprice, carttotal = 0;
            $(".added-products .spinner input[type='text']").each(function () {
                total = parseInt($(this).val());
                totalquantity = total + totalquantity;
            });
            $(".added-products .product-price-total span").each(function () {
                productprice = parseInt($(this).text());
                carttotal = productprice + carttotal;
            });
            //$("span#carttotal").empty().html(carttotal);
            //$(".check-title > span").empty().html(totalquantity);
            //$("span.cart-total-items").empty().html(totalquantity);
        }

        $(document).on('click', '.remove', function () {
            return vals();
            return cartstrip();
        });

        $(document).on('click', '.check-title > i.fa-times', function () {
            $(".checkout").css({ "right": "-350px", "transition": "1s ease", "-webkit-transition": "1s ease" });
            $(".right-side-bar").css({ "width": "0%", "background": "rgba(0,0,0,.6)" });
        });

        $(document).on('click', '.cart-icn', function () {
            $(".checkout").css({ "right": "0", "transition": "1s ease", "-webkit-transition": "1s ease" });
            $(".right-side-bar").css({ "width": "100%", "background": "rgba(0,0,0,.6)" });
        });
        if ($(window).width() <= 768) {
            $(".cart-icn").css("display", "none");
        }
        //<!----------- Quantity Add in Right Bar ---------------->

        //<!------------ Left Side Bar ------------------->
        $(document).on('click', '#sidebar li.leve12, #sidebar li', function () {
            $(this).children("a").css("font-weight", "700");
            $(this).children("ul.left-submenu").toggle("slow");
            $(this).nextAll("li").children("a").css("font-weight", "normal");
            $(this).prevAll("li").children("a").css("font-weight", "normal");
            $(this).nextAll("li").children("ul.left-submenu").css("display", "none");
            $(this).prevAll("li").children("ul.left-submenu").css("display", "none");
        });


        $(document).on('click', '#sidebar li.leve12 ul.left-submenu li', function () {
            $(this).parent("ul.left-submenu").css("display", "block");
            $(this).children("a").css("color", "#0288d1");
            return false;
        });
        //<!------------ Left Side Bar ------------------->

        //<!---------- Product Variation ------------>

        $(document).on('click', '.product-variation', function () {
            $(this).children("ul").toggle();
        });
        //<!---------- Product Variation ------------>

        

        $(document).on('input', '.quantity', function () {
        //$('.quantity').on('input', function (evt) {
            var inputvalue = this.value;
            var v = $(this).closest('div.well').find("div.image").find("input#pqty").val();
            if (parseInt(inputvalue) > parseInt(v)) {
                errormsg("Quantity Exceeded!!!Availability Qty is " + v + "");
                $('#availableqty').empty().html(v);
                $(this).val("1");
                this.select();
            }
        }).ready(function (key) {
            //if (key.charCode < 48 || key.charCode > 57) { warnmsg("Enter Number only"); return false; }
            var mask = new RegExp('^[0-9]*$')
            $("input").regexMask(mask)
        });

        $(document).on('input', '.cartqty', function () {
        //$('.cartqty').on('input', function (evt) {
            var inputvalue = this.value;
            var v = parseInt($(this).parents("div.added-products").find("input.whqty").val());
            if (parseInt(inputvalue) > parseInt(v)) {
                errormsg("Quantity Exceeded!!!Availability Qty is " + v + "");
                $('#availableqty').empty().html(v);
                $(this).val($(this).parents("div.added-products").find("input.cartitemqty").val());
                this.select();
            }
        }).ready(function (key) {
            //if (key.charCode < 48 || key.charCode > 57) { alert("Enter Number only"); return false; }
            var mask = new RegExp('^[0-9]*$')
            $("input").regexMask(mask)
        });

        //<!---------- mobile cart ------------>
        $(".mobile-cart").click(function () {
            $(this).toggleClass(" rotate");
            if ($(this).hasClass("rotate")) {
                $(".checkout").css({ "opacity": "1", "top": "20%", "right": "0px", "z-index": "2","min-width":"320px" });
                $(this).children("i.fa-shopping-cart").css("display", "none");
                $(this).children("i.fa-times").css("display", "block");
            } else {
                $(".checkout").css({ "opacity": "0", "z-index": "-99" });
                $(this).children("i.fa-shopping-cart").css("display", "block");
                $(this).children("i.fa-times").css("display", "none");
            }
            // $(".checkout").parent("div").css("position","fixed");
        });
        //!---------- mobile cart ------------>
    </script>
}

