<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup>
    </startup>
  <entityFramework>
     <providers>
     </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="data source=192.168.0.127;initial catalog=Inventory;persist security info=True;user id=example;password=123456;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="InventoryEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.127;initial catalog=Inventory;persist security info=True;user id=example;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Inventory.Properties.Settings.InventoryConnectionString"
      connectionString="Data Source=192.168.0.127;Initial Catalog=Inventory;Persist Security Info=True;User ID=example;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>