
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActivateEmail</title>
</head>
<body>
    <div> 
        Email ID Verified. Click here To <a href="~/Login">Login</a>
    </div>
</body>
</html>
