
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">

    <!--- Tabs in Graph Section ---->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
}
<div class="container body">
    <div class="main_container">

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="row">
                                <div class="form-title col-xs-12 col-md-12">Invoice</div>
                            </div>
                        </div>
                    </div>
                    <div class="row total-border">
                        <div class="col-xs-12 col-md-12">
                            <div class="row margin-bottom">
                                <div class="col-xs-12 col-md-3 logo margin-bottom"> <img src="images/logo.jpg" alt="Logo" /> <span class="vendorname">Xsilica Software Solutions</span> </div>
                                <div class="address col-xs-12 col-md-3 margin-bottom">
                                    <span>Billing Address</span><br />
                                    Fedex Solutions Pvt.Ltd,<br />
                                    H.No.8-2-120/112/B/5&6,<br />
                                    3rd Floor, BBR Forum,<br />
                                    Road No.2, Banjara Hills,<br />
                                    Hyderabad-500034.
                                </div>
                                <div class="address col-xs-12 col-md-3 margin-bottom">
                                    <span>Shipping Address</span><br />
                                    Fedex Solutions Pvt.Ltd,<br />
                                    H.No.8-2-120/112/B/5&6,<br />
                                    3rd Floor, BBR Forum,<br />
                                    Road No.2, Banjara Hills,<br />
                                    Hyderabad-500034.
                                </div>
                                <div class="col-xs-12 col-md-3 margin-bottom">
                                    <div class="row padding-bottom date"> Date : 05/10/2017 </div>
                                    <div class="row invoice-total-amount"> Rs <span>40123</span> </div>
                                </div>
                            </div>
                            <div class="row padding-bottom">
                                <div class="col-xs-12 col-md-7 to-address margin-bottom"> <span>To : Fedex Company</span> </div>
                                <div class="col-xs-12 col-md-5 margin-bottom">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4 po-number">Invoice Number</div>
                                        <div class="col-xs-12 col-md-8">
                                            <input type="text" class="form-control" placeholder="Enter Invoice">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row po-date">
                                <table class="table table-bordered col-xs-12 col-md-12">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-xs-6 col-md-2">Payment Date</td>
                                            <td class="col-xs-6 col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group-addon"> <i class="fa fa-calendar"> </i> </div>
                                                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
                                                </div>
                                            </td>
                                            <td class="col-xs-6 col-md-2">Payment Terms</td>
                                            <td class="col-xs-6 col-md-4">
                                                <input type="text" class="form-control" placeholder="" value="">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row invoice-table margin-top margin-bottom">
                                <div class=" col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1">Select</th>
                                                <th class="col-md-2">PO No</th>
                                                <th class="col-md-3">PO Date</th>
                                                <th class="col-md-3">Total Item</th>
                                                <th class="col-md-3">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col-md-1">
                                                    <label><input type="checkbox" value=""></label>
                                                </td>
                                                <td class="col-md-2">1556</td>
                                                <td class="col-md-3">04/21/2017</td>
                                                <td class="col-md-3">6</td>
                                                <td class="col-md-3">Rs<span>121</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1">
                                                    <label><input type="checkbox" value=""></label>
                                                </td>
                                                <td class="col-md-2">1557</td>
                                                <td class="col-md-3">05/23/2017</td>
                                                <td class="col-md-3">10</td>
                                                <td class="col-md-3">Rs<span>1100</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1">
                                                    <label><input type="checkbox" value=""></label>
                                                </td>
                                                <td class="col-md-2">1558</td>
                                                <td class="col-md-3">05/30/2017</td>
                                                <td class="col-md-3">8</td>
                                                <td class="col-md-3">Rs<span>800</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1">
                                                    <label><input type="checkbox" value=""></label>
                                                </td>
                                                <td class="col-md-2">1559</td>
                                                <td class="col-md-3">06/21/2017</td>
                                                <td class="col-md-3">7</td>
                                                <td class="col-md-3">Rs<span>1200</span></td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-1">
                                                    <label><input type="checkbox" value=""></label>
                                                </td>
                                                <td class="col-md-2">1560</td>
                                                <td class="col-md-3">08/21/2017</td>
                                                <td class="col-md-3">11</td>
                                                <td class="col-md-3">Rs<span>1310</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row padding-top invoice">
                                <div class="col-xs-12 col-md-12">
                                    <div class="total table-responsive">
                                        <table class="table  table-borderedtable-striped bulk_action" id="vendortable">
                                            <thead class="thead-inverse">
                                                <tr>
                                                    <th class="col-md-2">PO No</th>
                                                    <th class="col-md-2">Ptid</th>
                                                    <th class="col-md-3">Product Name</th>
                                                    <th class="col-md-2">Description</th>
                                                    <th class="col-md-1">Quantity</th>
                                                    <th class="col-md-1">Price</th>
                                                    <th class="col-md-1">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-2">1556</td>
                                                    <td class="col-md-2 image">1006 </td>
                                                    <td class="col-md-3 product-name"><a href="#">Product Name</a></td>
                                                    <td class="col-md-2 product-variation"><span>50 gm</span></td>
                                                    <td class="col-md-1 quantity-changes">2</td>
                                                    <td class="col-md-1 product-variation">Rs<span>20</span></td>
                                                    <td class="col-md-1 product-price">Rs <span>40</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-2">1556</td>
                                                    <td class="col-md-2 image">1006 </td>
                                                    <td class="col-md-3 product-name"><a href="#">Product Name</a></td>
                                                    <td class="col-md-2 product-variation"><span>50 gm</span></td>
                                                    <td class="col-md-1 quantity-changes">2</td>
                                                    <td class="col-md-1 product-variation">Rs<span>20</span></td>
                                                    <td class="col-md-1 product-price">Rs <span>40</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-2">1556</td>
                                                    <td class="col-md-2 image">1006 </td>
                                                    <td class="col-md-3 product-name"><a href="#">Product Name</a></td>
                                                    <td class="col-md-2 product-variation"><span>50 gm</span></td>
                                                    <td class="col-md-1 quantity-changes">2</td>
                                                    <td class="col-md-1 product-variation">Rs<span>20</span></td>
                                                    <td class="col-md-1 product-price">Rs <span>40</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-2">1556</td>
                                                    <td class="col-md-2 image">1006 </td>
                                                    <td class="col-md-3 product-name"><a href="#">Product Name</a></td>
                                                    <td class="col-md-2 product-variation"><span>50 gm</span></td>
                                                    <td class="col-md-1 quantity-changes">2</td>
                                                    <td class="col-md-1 product-variation">Rs<span>20</span></td>
                                                    <td class="col-md-1 product-price">Rs <span>40</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 remarks margin-top">
                                    <label>Remarks</label>
                                    <textarea class="form-control" rows="3" id="comment" placeholder=""></textarea>
                                </div>
                                <div class="col-xs-12 col-md-3 pull-right calculate margin-top">
                                    <div class="row sub-total margin-bottom">
                                        <div class="col-xs-6 col-md-5">Sub Total<span class="pull-right">:</span></div>
                                        <div class="col-xs-6 col-md-7">120.00</div>
                                    </div>
                                    <div class="row sub-total margin-bottom">
                                        <div class="col-xs-6 col-md-5">Vat<span class="pull-right">:</span></div>
                                        <div class="col-xs-6 col-md-7">18%</div>
                                    </div>
                                    <div class="row sub-total margin-bottom">
                                        <div class="col-xs-6 col-md-5">Discount<span class="pull-right">:</span></div>
                                        <div class="col-xs-6 col-md-7">10%</div>
                                    </div>
                                    <div class="row sub-total">
                                        <div class="col-xs-6 col-md-5">Grand Total<span class="pull-right">:</span></div>
                                        <div class="col-xs-6 col-md-7">121.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top">
                                <div class="col-xs-12 col-md-6 margin-top margin-bottom invoice-conditions">
                                    <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i>Terms and Conditions</a>
                                    <ul class="terms-content margin-top">
                                        <li>1) Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
                                        <li>2) Text has been the industry's standard dummy text ever since</li>
                                        <li>3) Enter here is simply dummy text of the printing and typesetting industry</li>
                                        <li>4) Here we have industry's standard dummy text ever since</li>
                                        <li>5) Dummy content is simply dummy text of the printing and typesetting industry</li>
                                        <li>6) Enter content has been the industry's standard dummy text ever since</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top">
                        <div class="col-xs-12 col-md-12 invoice-buttons">
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor1"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button>
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Submit </button>
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-download" aria-hidden="true"></i> PDF </button>
                            <button type="button" class="btn btn-primary pull-right invite" id="add-vendor"> <i class="fa fa-paper-plane" aria-hidden="true"></i> E-Mail </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /page content --> 
</div>
        @section scripts{
           <!-- jQuery lib & Tabs -->
<script type="text/javascript" language="javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" language="javascript" src="js/modernizr.js"></script>
<script type="text/javascript" language="javascript" src="js/main.js"></script>
<!-- jQuery lib & Tabs -->
<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-datepicker3.css" />

<script>
	$(document).ready(function(){
		var date_input=$('input[name="date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
	})
</script>
<script type="text/javascript">
    $('#add-vendor1').click(function () {
        document.location = '@Url.Action("Index", "Customer")';
    });
</script>

        }
