
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}

@section css{
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">

    <!--- Tabs in Graph Section ---->
    <link href="~/Scripts/css/reset.css" rel="stylesheet" />
    <link href="~/Scripts/css/dashboardstyles.css" rel="stylesheet" />

    <!-- Over Hang -->
    @*<link href="~/Scripts/css/overhang.min.css" rel="stylesheet" />*@
    <link href="~/Scripts/css/bootstrap-datepicker3.css" rel="stylesheet" />
}

<div class="right_col" role="main">
    <div class="container">
        <form>
            <div class="row invoice-table margin-top margin-bottom">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-md-1">Select</th>
                                <th class="col-md-2">PO No</th>
                                <th class="col-md-3">PO Date</th>
                                <th class="col-md-3">Total Item</th>
                                <th class="col-md-3">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ Html.RenderAction("AvailblePos", "Invoice");}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row margin-bottom">
                <div class="col-xs-12 col-sm-12 col-md-12 invoice-buttons">
                    <button type="button" class="btn btn-primary pull-right invite" id="back-invoice1"> <i class="fa fa-download" aria-hidden="true"></i> Back</button>
                    <button type="button" class="btn btn-primary pull-right invite" id="GenarateDelivNote" onclick="genarateDelivNote()"> <i class="fa fa-download" aria-hidden="true"></i> Generate Delivery Note</button>
                    <button type="button" class="btn btn-primary pull-right invite" id="GenarateInvoice" onclick="genarateInvoice()"> <i class="fa fa-download" aria-hidden="true"></i> Generate Invoice</button>
                    <button type="button" class="btn btn-primary pull-right invite" id="GenarateDelivInvoice" onclick="genarateDelivInvoice()"> <i class="fa fa-download" aria-hidden="true"></i> Generate Invoice & Delivery Note </button>
                </div>
            </div>
            <div class="row total-border" id="completediv" style="display:none">
                <div id="sravaniadded" style="display:none">
                    @{ Html.RenderAction("GenarateInvoice", "Invoice");}
                </div>
                <div id="sravaniadded1" style="display:none">
                    @{ Html.RenderAction("GenarateDeliveryNote", "Invoice");}
                </div>
            </div>
    </form>
</div>
</div>

@section scripts{
    <!-- jQuery lib & Tabs -->
    <script src="~/Scripts/js/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/modernizr.js"></script>
    <!-- jQuery lib & Tabs -->
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<!------ Tags With Space and comma ------->*@
    <script src="~/Scripts/js/jquery-ui.min.js"></script>
    <script src="~/Scripts/js/tag-it.js"></script>

    <script src="~/Scripts/js/bootstrap-datepicker.min.js"></script>
    @Scripts.Render("~/bundles/Invoices")
    <script>
        $(document).ready(function () {
            var dateformat = $('#dateformat').val().toLowerCase();//replace('DD', 'dd').replace('YYYY', 'yyyy').replace('MM','mm');
            //alert(dateformat);
            //alert($('#currency').val());
            //<!-------------- Date Picker ----------->
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: dateformat,
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
            //<!-------------- Date Picker  ----------->

        });

        function add() {
            var len = $("#autoAddQty .table-striped tbody > tr input[placeholder='Quantity in Hand']").length;
            var i = 0, total = 0;
            $("#autoAddQty .table-striped tbody > tr input[placeholder='Quantity in Hand']").each(function () {
                if (i <= len) {
                    var val = parseInt($(this).val());
                    total += val;
                }
                i++;
            });
            TotalQty = $("input[placeholder='Total Quantity in Hand']").val(total);
            //alert("TotalQty: " + TotalQty.val());
            return false;
        }
        $(document).ready(function (e) {
            return add();
        });
        $("input[placeholder='Quantity in Hand']").blur(function (e) {
            return add();
        });
        $("button.qtybutton").click(function () {
            if (TotalNewQty == (TotalQty.val())) {
                alert("Processed");
            } else {
                alert("Total Quantity is not Equal's to New Quantity");
                alert("TotalNewQty is : " + TotalNewQty);
                alert("TotalQty is : " + TotalQty.val());
            }
        });
        //<!------ Qty Disturbed to WareHouses  ------->
        //	<!-------------- Auto Value assign to Quantity text boxes  ----------->
       
        $('#back-invoice1').click(function () {
            document.location = '@Url.Action("Index", "Customer")';
        });
        $('#back-invoice').click(function () {
            document.location = '@Url.Action("Index", "Customer")';
        });
    </script>
}
