
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Landing Page</title>
    <!---------- Fav Icon ------>
    <link rel="icon" type="image/x-icon" href="~/images/fav_icon.png">

    <link rel="stylesheet" type="text/css" href="~/Scripts/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/styles.css">

    <script type="text/javascript" language="javascript" src="~/Scripts/js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="row landing-header">
            <img src="~/images/logo.jpg" alt="Logo" />
            <h1>Inventory Management Apps for Business Teams</h1>
            <p>
                All in one online Invenotry Management System
            </p>
        </header>
        <div class="row products">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/logo.jpg" alt="Logo" />
                    <div class="caption">
                        <h3>Xsilica Inventory</h3>
                        <p>Inventory Management</p>
                        <p><a href="#" class="btn btn-primary" role="button">Go To Inventory</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/logo.jpg" alt="Logo" />
                    <div class="caption">
                        <h3>Xsilica Desk</h3>
                        <p>Help Desk</p>
                        <p><a href="#" class="btn btn-primary" role="button">Go To Help Desk</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/images/logo.jpg" alt="Logo" />
                    <div class="caption">
                        <h3>Xsilica Chat</h3>
                        <p>Real Time Messaging</p>
                        <p><a href="#" class="btn btn-primary" role="button">Open Chat</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" language="javascript">
  $(document).ready(function(){
	  $(".products .thumbnail").addClass(" scale-one")
	  });
    </script>
</body>
</html>
