
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DefaultMaster.cshtml";
}

<div class="container-fluid slide-image">
    <div class="container banner-content">
        <h1>Inventory Management Apps for Business Teams</h1>
        <p>All in one online Invenotry Management System</p>
        <div class="row thumbnail-colums">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <i class="fa fa-folder-open fa-4x" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>Xsilica Inventory</h3>
                        <p>Inventory Management</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <i class="fa fa-folder-open fa-4x" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>Xsilica Desk</h3>
                        <p>Help Desk</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <i class="fa fa-folder-open fa-4x" aria-hidden="true"></i>
                    <div class="caption">
                        <h3>Xsilica Chat</h3>
                        <p>Real Time Messaging</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container team-slider">
    <h3>The ultimate solution for every team</h3>
    <div class="slides">
        <div id="bx-pager"> <a data-slide-index="0" href=""> <img src="images/icon1.jpg" /> <span>Marketing Teams</span> </a> <a data-slide-index="1" href=""> <img src="images/icon1.jpg" /> <span>Marketing Teams</span> </a> <a data-slide-index="2" href=""> <img src="images/icon1.jpg" /> <span>Marketing Teams</span> </a> <a data-slide-index="3" href=""> <img src="images/icon1.jpg" /> <span>Marketing Teams</span> </a> <a data-slide-index="4" href=""> <img src="images/icon1.jpg" /> <span>Marketing Teams</span> </a> </div>
        <ul class="bxslider">
            <li class="row">
                <div class="col-md-6"> <img src="images/marketing.jpg" alt="Img" /> </div>
                <div class="col-md-6">
                    <h1>Inventory Management</h1>
                    <p> 
                        Manage your Vendors, Suppliers, Warehouse, inventory and check stock levels in real-time. Receive re-order inventory notifications and generate purchase orders to replenish your stock.</p>
                </div>
            </li>
            <li class="row">
                <div class="col-md-6"> <img src="images/marketing.jpg" alt="Img" /> </div>
                <div class="col-md-6">
                    <h1>Creative Team</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release</p>
                </div>
            </li>
            <li class="row">
                <div class="col-md-6"> <img src="images/marketing.jpg" alt="Img" /> </div>
                <div class="col-md-6">
                    <h1>Creative Team</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release</p>
                </div>
            </li>
            <li class="row">
                <div class="col-md-6"> <img src="images/marketing.jpg" alt="Img" /> </div>
                <div class="col-md-6">
                    <h1>Creative Team</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release</p>
                </div>
            </li>
            <li class="row">
                <div class="col-md-6"> <img src="images/marketing.jpg" alt="Img" /> </div>
                <div class="col-md-6">
                    <h1>Creative Team</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid section-four">
    <div class="container">
        <div class="col-md-7">
            <h3>Our products talk to each other</h3>
            <p>Our suite of products work together so you can track every detail without leaving your Teamwork.com application. Start a conversation through Teamwork Desk or create a task from Teamwork Chat. We make it easy for you to run your business.</p>
            <h3>Create your Teamwork.com site today!</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">Start Your E-Mail</span>
            </div>
        </div>
    </div>
</div>
<div class="container section-five text-center">
    <h2>Don't take it from us</h2>
    <h3>Here's what our customers have to say about our products...</h3>
    <div class="col-sm-6 thumbs">
        <img src="images/carl.jpg" alt="Image 1" />
        <div class="quote">
            <h3>Carl Hendy</h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the </p>
        </div>
        <a href="#">Read More</a>
    </div>
    <div class="col-sm-6 thumbs">
        <img src="images/carl.jpg" alt="Image 1" />
        <div class="quote">
            <h3>Carl Hendy</h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the </p>
        </div>
        <a href="#">Read More</a>
    </div>
    <div class="col-sm-6 thumbs">
        <img src="images/carl.jpg" alt="Image 1" />
        <div class="quote">
            <h3>Carl Hendy</h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the </p>
        </div>
        <a href="#">Read More</a>
    </div>
    <div class="col-sm-6 thumbs">
        <img src="images/carl.jpg" alt="Image 1" />
        <div class="quote">
            <h3>Carl Hendy</h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the </p>
        </div>
        <a href="#">Read More</a>
    </div>
</div>
<footer class="container-fluid">
    <div class="container">
        <div class="col-sm-3 col-xs-6">
            <h4>TeamWork.com</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Roads &amp; Maps</a></li>
                <li><a href="#">Lipsum</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Distance</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Read More</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4>TeamWork.com</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Roads &amp; Maps</a></li>
                <li><a href="#">Lipsum</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Distance</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Read More</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4>TeamWork.com</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Roads &amp; Maps</a></li>
                <li><a href="#">Lipsum</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Distance</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Read More</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4>TeamWork.com</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Roads &amp; Maps</a></li>
                <li><a href="#">Lipsum</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Distance</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Read More</a></li>
            </ul>
        </div>
    </div>
    <div class="container social-icons">
        <ul>
            <li> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-twitter fa-stack-1x fa-inverse"></i> </span> </li>
            <li> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x fa-inverse"></i> </span> </li>
            <li> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i> </span> </li>
            <li> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i> </span> </li>
            <li> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i> </span> </li>
            <li> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-rss fa-stack-1x fa-inverse"></i> </span> </li>
        </ul>
    </div>
</footer>

